<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 本地离线源：手工下载的 nupkg（STS2.RitsuLib 等） -->
    <add key="local-feed" value="..\nuget-feed" />
    <!-- 官方源：Godot.NET.Sdk、Krafs.Publicizer 等常用包 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
